<div class="container-fluid  image_profile">
 <div class="row">
  <div class="col-md-4 mx-auto  card_profile">

   <div class="card-body form_profile text-center">
    <h1><strong>Welcome {{user.fullname}}</strong></h1>
    <a href="/links" class="btn btn-primary m-4">Create your links</a>

   </div>
  </div>
 </div>
</div>