<div class="container-fluid p-4 image_signup">
   <div class="row">

      <div class="col-md-4 mx-auto">
         <div class="text-center">
            <div class="card-body form_signup ">
               <h2 class="mb-5 "><strong>Signup</strong></h2>
               <form action="/signup" method="POST">
                  <div class="form-group">
                     <input type="text" name="fullname" placeholder="Full Name" class="form-control" autofocu>
                  </div>
                  <div class="form-group">
                     <input type="text" name="username" placeholder="User Name" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="password" name="password" placeholder="Pasword" class="form-control">
                  </div>
                  <div class="form-group">
                     <button class="btn btn-primary btn-block">Done</button>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>
</div>