<div class="container-fluid p-3 image_signin">
   <div class="row">

      <div class="col-md-4 mx-auto  ">
         <div class="text-center ">

            <div class="card-body form_signin ">
               <h4><strong>Signin</strong></h4>
               <img src="/images/logo_signin.jpg" class="logo_signin mb-3 ">
               <form action="/signin" method="POST">

                  <div class="form-group">
                     <input type="text" name="username" placeholder="User Name" class="form-control" autofocu>
                  </div>
                  <div class="form-group">
                     <input type="password" name="password" placeholder="Pasword" class="form-control">
                  </div>
                  <div class="form-group">
                     <button class="btn btn-primary btn-block">Done</button>
                  </div>
               </form>
               <a href="/signup">
                  <button class="btn btn-secondary btn-block mt-2">SignUp</button>
               </a>
            </div>

         </div>
      </div>
   </div>
</div>